body {
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-items: space-around;
    /* grid-template-columns: 50% 50%; */
    /* grid-template-rows: 50% 50%; */
}

/* .left {
    grid-column-start: 1;
} */

/* .transform_btn, .transform_label, #separator_dropdown {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-self: start;
}

textarea#user_input {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: start;
} */

/* .right {
    grid-column-start: 2;
} */

/* .back_to_csv_btn, .transform_label_back, #separator_dropdown_back {
    grid-column-start: 2;
    grid-row-start: 1;
    
}
.back_to_csv_btn {justify-self: start;}

.transform_label_back, #separator_dropdown_back {justify-self: end;}

.html_table {
    grid-column-start: 2;
    grid-row-start: 2;
    border: 2px solid;
    justify-self: start;
} */
